# Binaries
*.app
*.exe
*.dmg
*.msi

# Build output
dist/
build/
/bridge
Dockerfile.windows-builder

# IDE
.vscode/
.kiro/
!.vscode/settings.json
.idea/
*.swp
*.swo
*~

# MacOS BS
.DS_Store
Thumbs.db

# Go
*.test
*.out
go.work
fyne_metadata_init.go
pkg/bridge/VERSION

# Local Docker Build
*.env

# Dev Recordings
recordings/

# Not ready for release yet!
TEMP-README.md